html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
ol,
ul,
li,
footer,
header {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article,
aside,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus, textarea:focus {
    outline: 0;
}

::-webkit-search-decoration {
    display: none;
}

textarea {
    vertical-align: top;
    overflow: auto;
}
